<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de TT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/imagenes/literal.jpg" alt="" style=
"
padding-left: 60px;
padding-top: 15px;
padding-bottom: 10px;

">


<ion-item>
  <ion-list>
    <ion-list-header>
      <ion-label><h2>Caracteristicas</h2></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>5 Temporadas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Se estreno el 19 de Jul de 2003</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Finalizo el 15 de Sept de 2006</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>El creador se llama Glen Murakami</ion-label>
    </ion-item>
  </ion-list>
</ion-item>
</ion-content>
