<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Me contratas?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-espacio">
    <ion-card>
      <img alt="Deivi" src="assets/imagenes/yos2.jpg" />
      <ion-card-header>
        <ion-card-title>Ricardo Medina</ion-card-title>
        <ion-card-subtitle>Software Developer</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>First Name:</ion-label>
          <ion-textarea [readonly]="true" placeholder="Hector Ricardo"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Last Name:</ion-label>
          <ion-textarea [readonly]="true" placeholder="Medina Lantigua"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Birthday:</ion-label>
          <ion-textarea [readonly]="true" placeholder="May 29, 2002"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>City:</ion-label>
          <ion-textarea [readonly]="true" placeholder="Santo Domingo"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Country:</ion-label>
          <ion-textarea [readonly]="true" placeholder="Dominic Republic"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>




</ion-content>
