<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Momentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label id="click-trigger" style="width:300px; height:280px;"> <img src="assets/imagenes/undercontrol.jpg" style="
    padding-top: 55px;
    padding-bottom: 35px;
    ">
  </ion-label>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Robin completamente desquisiado</ion-card-title>
          <ion-card-subtitle>Literalmente frustrado incluso</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Lo que había pasado en este momento fue que Slade busco la forma de traumatizar a Robin y hacerlo creer que
          estaba peleando en su cabeza, el trauma fue tan grande que incluso Raven intento ver los pensamientos de Robin
          y hasta ella penso que era real cuando no lo era
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-popover>



  
  

  <ion-label id="click-trigger2" style="width:300px; height:280px;"> <img src="assets/imagenes/la_bestia.png">
  </ion-label>
  <ion-popover trigger="click-trigger2" triggerAction="click">
    <ng-template>
      <ion-card>
        <ion-card-header>
          <ion-card-title>La Bestia</ion-card-title>
          <ion-card-subtitle>Así se llama el capitulo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Aquí realmente no es un momento, sino el capitulo completo, en este capitulo los jovenes titanes se 
          enfrentan a una especie de hombre lobo el cual estaba a punto de maltratar a Raven, en eso chico bestia decide trasnformarse
           en este mismo mostruo para intentar hacerle frente, despues de "solucionar el conflicto" la bestia despierta dentro 
           de chico bestia y este se vuelve agresivo hasta el punto de despertar la bestia por completo, recomiendo que vean el capitulo porque explico 
           bastante mal
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-popover>

  

  <ion-label id="click-trigger3" style="width:300px; height:280px;"> <img src="assets/imagenes/undercontrol.jpg">
  </ion-label>
  <ion-popover trigger="click-trigger3" triggerAction="click">
    <ng-template>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Robin completamente desquisiado</ion-card-title>
          <ion-card-subtitle>Literalmente frustrado incluso</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Lo que había pasado en este momento fue que Slade busco la forma de traumatizar a Robin y hacerlo creer que
          estaba peleando en su cabeza, el trauma fue tan grande que incluso Raven intento ver los pensamientos de Robin
          y hasta ella penso que era real cuando no lo era
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-popover>





</ion-content>