<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>En mi vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/imagenes/literal2.jpg" style=
"
padding-top: 25px;
border-radius: 5%;
padding-bottom: 30px;
">

<ion-item>
  <p>
    Para mi la serie vale bastante, básicamente porque en mi moemnto más triste que es cuando 
    me hacían bulling pues llegara la casa para ver los capitulos de Teen Titans pues era una 
    escapatoria de todo lo malo, y pues es lo que quería porque en el colegio jamas fui popular 
    ademas de eso es porque la serie es bastante buena realmente, recuerdo que cuando cumplí 17 volví 
    a ver las serie completa para comprender todas las cosas que en su momento no había entendido y 
    valio cada mald*to segundo.
  </p>
</ion-item>
</ion-content>
